allow init wcnss_device:chr_file write;
allow init efs_data_file:dir mounton;
allow init sysfs_writable:file getattr;
allow init system_file:dir { read write relabelfrom add_name remove_name };
allow init system_file:file { read getattr setattr relabelfrom execute_no_trans create append unlink link rename write };
